<!-- header  部分テンプレート　_header.html.erb -->
<%= render 'books/header', books: @books %>


<div class="body">
	<div class="container">
		<div class="col-xs-3">
			<h1>Users#edit　マイページ編集</h1>
			<p>Find me in app/views/users/edit.html.erb</p>>
		</div>
	</div>
</div>

<!-- hoofer  部分テンプレート　_footer.html.erb -->
<%= render 'books/footer' %>